/* THIS IS A CSS COMMENT */
body { 
background: #421b8a;
color: white;
background-image: url("https://img.freepik.com/free-vector/white-abstract-background-3d-paper-style_23-2148399818.jpg?size=626&ext=jpg");
background-blend-mode: overlay;
background-size:cover;
font-family:Arial, Helvetica, sans-serif;
}

a {
color:aqua;
text-decoration: none;
}

a:hover { color:pink; text-decoration:underline; }
a:visited { color:maroon; }

/*CLASS*/
.block {
border:2px solid black;
background:gray;
padding:30px; 
margin:10px;
width:60%; 
}

.block2 {
border:2px solid black;
background:black;
padding:30px; 
width:25%;
float:right;
}

#albert
{
    visibility: hidden;
    z-index:20;
    position:absolute;
    left:100;
    top:100;
}

img { margin:30px;  }

.block img { margin:10px; box-shadow:5px 5px 5px 5px #00000038; }
